body {
  background-color: black;
}

#image {
  display: block;
  margin: auto;
  max-width: 1000px;
  max-height: 700px;
}

h1 {
  text-align: center;
  font-size: 4em;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

p {
  text-align: center;
  color: #353535;
  margin: 5px;
}